---
import Image from "astro/components/Image.astro";
---

<section class="section section_seo">
  <div class="container">
    <div class="grid grdi-cols-1 md:grid-cols-2 gap-10 items-center">
      <div class="order-2 md:order-1">
        <h2 class="text-primary uppercase text-lg mb-3">message from ceo</h2>
        <p class="h2 capitalize">We are here to support your career.</p>
        <p class="mb-6">
          Lorem ipsum dolor sit amet consectetur. Tellus euismod commodo
          ridiculus at pretium egestas ullamcorper ornare. At sit ut nec nunc
          accumsan risus vestibulum nisi. Vitae faucibus facilisis sit quis
          egestas. Magna consectetur sit sagittis auctor sed massa vulputate.
          Lobortis mollis sed viverra in integer dictumst. Fringilla massa id
          integer.
        </p>

        <p>
          Feugiat suspendisse nulla risus lectus. Suscipit et gravida vehicula
          ut orci gravida volutpat ut. Amet sit est tincidunt sed luctus diam.
          Viverra massa neque dictum a. Bibendum quis eget mi vitae. Proin dolor
          felis viverra sed est nisl dictum. Massa sed mi a tincidunt. Morbi
          vestibulum nam elementum commodo posuere mattis vitae. Et vestibulum
          quam tincidunt.
        </p>
      </div>
      <div class="order-1 md:order-2">
        <div class="text-right max-w-[300px] md:max-w-full mx-auto">
          <Image
            src="/img/img2.webp"
            alt="Mission"
            width={500}
            height={623}
            class="w-auto h-auto object-cover ml-auto"
          />
          <p class="font-semibold mt-3">Laila Britney</p>
          <p class="uppercase">CEO OF RECUIT</p>
        </div>
      </div>
    </div>
  </div>
</section>
