---
import Image from "astro/components/Image.astro";
---

<section class="section section_team bg-light-100 my-0! py-20">
  <div class="container text-center">
    <h2 class="text-primary uppercase text-lg mb-3">our team</h2>
    <p class="h2">We are Career specialists</p>

    <div
      class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10"
    >
      <article class="shadow bg-white hover:shadow-none">
        <Image
          src="/img/teams/t1.webp"
          alt="Team Member"
          width={336}
          height={305}
          class="w-auto h-auto object-cover"
        />
        <div class="p-4 text-left">
          <h3 class="font-semibold mb-1">Emil Yancy</h3>
          <p class="capitalize">Team Leader</p>
        </div>
      </article>

      <article class="shadow bg-white hover:shadow-none">
        <Image
          src="/img/teams/t2.webp"
          alt="Team Member"
          width={336}
          height={305}
          class="w-auto h-auto object-cover"
        />
        <div class="p-4 text-left">
          <h3 class="font-semibold mb-1">Coty Robin</h3>
          <p class="capitalize">Senior Recruitor</p>
        </div>
      </article>

      <article class="shadow bg-white hover:shadow-none">
        <Image
          src="/img/teams/t3.webp"
          alt="Team Member"
          width={336}
          height={305}
          class="w-auto h-auto object-cover"
        />
        <div class="p-4 text-left">
          <h3 class="font-semibold mb-1">Missie Moira</h3>
          <p class="capitalize">Senior Recruitor</p>
        </div>
      </article>

      <article class="shadow bg-white hover:shadow-none">
        <Image
          src="/img/teams/t4.webp"
          alt="Team Member"
          width={336}
          height={305}
          class="w-auto h-auto object-cover"
        />
        <div class="p-4 text-left">
          <h3 class="font-semibold mb-1">Presley Kiera</h3>
          <p class="capitalize">Senior Recruitor</p>
        </div>
      </article>

      <article class="shadow bg-white hover:shadow-none">
        <Image
          src="/img/teams/t5.webp"
          alt="Team Member"
          width={336}
          height={305}
          class="w-auto h-auto object-cover"
        />
        <div class="p-4 text-left">
          <h3 class="font-semibold mb-1">Dave Jools</h3>
          <p class="capitalize">Junior Recruitor</p>
        </div>
      </article>

      <article class="shadow bg-white hover:shadow-none">
        <Image
          src="/img/teams/t6.webp"
          alt="Team Member"
          width={336}
          height={305}
          class="w-auto h-auto object-cover"
        />
        <div class="p-4 text-left">
          <h3 class="font-semibold mb-1">Ilene Leone</h3>
          <p class="capitalize">Junior Recruitor</p>
        </div>
      </article>
    </div>
  </div>
</section>
