---
import Form from "../components/forms/FormContact.astro";
---

<section class="section section_contacts" id="contacts">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 gap-x-20 items-center">
      <div>
        <h2 class="text-primary uppercase text-lg mb-3">contact</h2>
        <p class="h2 capitalize">Looking for a new opportunity?</p>
        <p class="mb-6">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis. Mi at fermentum imperdiet
          velit magna a aliquam. Faucibus et quam ac elit placerat tristique
          vulputate
        </p>
      </div>
      <div>
        <Form />
      </div>
    </div>
  </div>
</section>
