---
import { ArrowRight } from "@lucide/astro";
import Image from "astro/components/Image.astro";

const { subtitle = "", title = "", btnLabel = "", btnLink = "#" } = Astro.props;
---

<section
  class="section section_hero bg-secondary text-white relative z-0 after:absolute after:inset-0 after:bg-secondary/80 after:-z-10 overflow-hidden"
>
  <Image
    src="/img/bg/bg1.webp"
    alt=""
    width={830}
    height={428}
    quality={45}
    sizes="(max-width: 768px) 100vw, 830px"
    fetchpriority="high"
    loading="eager"
    class="absolute inset-0 w-full h-full object-cover -z-10"
  />
  <div class="container flex flex-col items-start gap-4">
    <div class="max-w-xl">
      {subtitle && <p class="mb-3">{subtitle}</p>}
      <h1 set:html={title} />
      {
        btnLabel && (
          <a
            href={btnLink}
            class="btn btn-lg btn-outline mt-6 border-white text-white rounded-none hover:bg-primary hover:border-primary shadow-none hover:text-secondary"
          >
            {btnLabel} <ArrowRight />
          </a>
        )
      }
    </div>
  </div>
</section>
