---
import { ArrowRight } from "@lucide/astro";
---

<section class="section section_jobs">
  <div class="container">
    <div class="flex items-center justify-between gap-10">
      <hgroup>
        <h2 class="text-primary uppercase text-lg mb-3">jobs</h2>
        <p class="h2">Latest Openings</p>
      </hgroup>

      <a
        href="/jobs"
        class="btn btn-square bg-primary text-secondary hover:bg-secondary hover:text-white shadow-none rounded-none border-none btn-lg"
        title="Next"
      >
        <ArrowRight />
      </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 mt-10">
      <article class="bg-primary text-black p-10">
        <h3 class="h3 font-semibold mb-2">Frontend Developer</h3>
        <p class="mb-4">Manchester, UK</p>
        <p class="text-lg mb-6">£40000 - £55000 per annum</p>
        <p class="text-sm mb-6">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
        <a
          href="/jobs/software-engineer"
          class="btn btn-link text-black p-0 capitalize hover:no-underline"
        >
          view job
        </a>
      </article>

      <article class="bg-secondary text-white p-10">
        <h3 class="h3 font-semibold mb-2">Frontend Developer</h3>
        <p class="mb-4">Manchester, UK</p>
        <p class="text-lg mb-6">£40000 - £55000 per annum</p>
        <p class="text-sm mb-6">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
        <a
          href="/jobs/software-engineer"
          class="btn btn-link text-white p-0 capitalize hover:no-underline"
        >
          view job
        </a>
      </article>

      <article class="bg-secondary text-white p-10">
        <h3 class="h3 font-semibold mb-2">Frontend Developer</h3>
        <p class="mb-4">Manchester, UK</p>
        <p class="text-lg mb-6">£40000 - £55000 per annum</p>
        <p class="text-sm mb-6">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
        <a
          href="/jobs/software-engineer"
          class="btn btn-link text-white p-0 capitalize hover:no-underline"
        >
          view job
        </a>
      </article>
    </div>
  </div>
</section>
