---
import Image from "astro/components/Image.astro";
---

<a href="/">
  <Image
    src="/img/logo.svg"
    alt="Logo"
    fetchpriority="high"
    quality="low"
    loading="eager"
    width={159}
    height={55}
    class="w-auto h-auto"
  />
</a>
