---
import { ArrowRight } from "@lucide/astro";
import Image from "astro/components/Image.astro";
---

<section class="section section_mission my-0! relative z-0 grid items-center">
  <div
    class="hidden [grid-area:1/1/2/2] md:grid grid-cols-1 md:grid-cols-2 relative -z-10 after:absolute after:inset-0 after:bg-secondary/80 after:-z-0 md:after:content-none"
  >
    <Image
      src="/img/img1.webp"
      alt="Mission"
      width={848}
      height={576}
      class="w-full h-auto object-cover md:col-start-2"
    />
  </div>
  <div class="container [grid-area:1/1/2/2] text-black py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-20 items-center">
      <div class="">
        <h2 class="text-primary uppercase text-lg mb-3">misson</h2>
        <p class="h2">We’ve managed over 2.5 million candidates</p>
        <p class="mb-6">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis. Mi at fermentum imperdiet
          velit magna a aliquam. Faucibus et quam ac elit placerat tristique
          vulputate. Elit sit varius condimentum tempor vel commodo malesuada.
        </p>

        <a
          href="#"
          class="btn btn-square bg-primary text-secondary hover:bg-secondary hover:text-white shadow-none rounded-none border-none btn-lg"
          title="Next"
        >
          <ArrowRight />
        </a>
      </div>
      <div class="hidden md:block"></div>
    </div>
  </div>
</section>
