---
import {
  Search,
  Funnel,
  StickyNoteCheck,
  BriefcaseBusiness,
} from "@lucide/astro";
---

<section
  class="section section_services bg-light-100 my-0! py-20"
  id="services"
>
  <div class="container">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-primary uppercase text-lg mb-3">services</h2>
      <p class="h2">Assist you to find a job that matches with your goal</p>
    </div>
    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
      <article class="bg-white shadow-xl p-10 hover:shadow-none">
        <Search size={40} />
        <h3 class="mt-3">Searching</h3>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
      </article>
      <article class="bg-white shadow-xl p-10 hover:shadow-none">
        <Funnel size={40} />
        <h3 class="mt-3">Mock Interview</h3>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
      </article>
      <article class="bg-white shadow-xl p-10 hover:shadow-none">
        <StickyNoteCheck size={40} />
        <h3 class="mt-3">Reference Check</h3>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
      </article>
      <article class="bg-white shadow-xl p-10 hover:shadow-none">
        <BriefcaseBusiness size={40} />
        <h3 class="mt-3">Get you Onboard</h3>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur. Turpis sed pulvinar sed
          blandit rhoncus tellus senectus at quis.
        </p>
      </article>
    </div>
  </div>
</section>
