---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Drawer from "../components/Drawer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="drawer drawer-end flex-1">
      <input
        id="my-drawer-2"
        type="checkbox"
        class="drawer-toggle"
        title="Toggle navigation menu"
      />
      <div class="drawer-content flex flex-col h-full">
        <!-- Page content here -->
        <div
          class="flex flex-col flex-1 bg-[linear-gradient(125deg,#F2FAFF,#FFFFFF_50%)] bg-no-repeat bg-size-[900px_900px] dark:bg-size-[0_0] bg-top-left"
        >
          <Header />
          <main class="flex-1">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      <Drawer />
    </div>
  </body>
</html>
