---
import { ArrowRight } from "@lucide/astro";
---

<form method="POST" action="/" class="grid gap-3">
  <fieldset class="fieldset w-full">
    <label class="label">Full Name</label>
    <input
      type="text"
      class="input validator w-full bg-white text-dark border-gray-200"
      placeholder="Full Name"
      required
    />
    <p class="validator-hint hidden">Required</p>
  </fieldset>
  <fieldset class="fieldset w-full">
    <label class="label">Email</label>
    <input
      type="email"
      class="input validator w-full bg-white text-dark border-gray-200"
      placeholder="Email"
      required
    />
    <p class="validator-hint hidden">Required</p>
  </fieldset>
  <fieldset class="fieldset w-full">
    <label class="label">Contact Number</label>
    <input
      type="tel"
      class="input validator w-full bg-white text-dark border-gray-200"
      placeholder="+(000)000000000"
      required
    />
    <p class="validator-hint hidden">Required</p>
  </fieldset>

  <button
    class="btn btn-neutral mt-4 bg-primary text-secondary hover:bg-secondary hover:text-white shadow-none rounded-none border-none mr-auto min-w-75"
    type="submit"
    >Submit
    <ArrowRight />
  </button>
</form>
